$white: #fff;
$black: #6f6f6f;
$light-blue: #97bfe0;

// bootstrap core colors
$blue:    #037696; // default: 007bff
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #f15d5d; // default: dc3545
$orange:  #f6893b; // default: orange
$yellow:  #f1b825; // default: ffc107
$green:   #a6c38c; // default: 28a745
$teal:    #20c997;
$cyan:    #17a2b8;

$secondary: $red;