.big-text {
  font-size: 1.2em;
}

.bigger-text {
  font-size: 1.4em;
}

.biggest-text {
  font-size: 1.7em;
}

.small-text {
  font-size: 0.85em;
}

.smaller-text {
  font-size: 0.75em;
}

.smallest-text {
  font-size: 0.65em;
}